# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Виртуальное окружение
venv/
.venv/
env/

# База данных
*.db
*.sqlite3



# Временные файлы
temp/
*.jpg
*.jpeg
*.png
*.gif
uploads/*
!uploads/.gitkeep

# AI модели
app/data/user_memory.json

# Docker
.dockerignore

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Логи
*.log
